.analysis{
  box-sizing: border-box;
}
.column1 {
  float: left;
  width: 30%;
  padding: 10px;
}

.column2 {
  float: left;
  width: 70%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

  .container-table {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'lato', sans-serif;
  }
  
 h2 {
    font-size: 21px;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
    font-family: 'lato', sans-serif;
  }

  h4{
    /* font-size: 26px; */
    margin: 20px 0;
    text-align: center;
    font-family: 'lato', sans-serif;
  }

 .details h5{
    font-size: 16px;
    margin: 10px 0;
    text-align: center;
    font-family: 'lato', sans-serif;
  }

  h2 small {
    font-size: 0.5em;
  }

  .details{
    border:5px solid #95A5A6;
    margin-left: 15px;
    border-radius: 25px;
  }

  .details h2 {
    margin-bottom: 2px;
  }

  .stats{
    margin-left: 30px;
    margin-top: 30px;
  }

  .stats h2{
    color:#95A5A6;
    text-transform: uppercase;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    border: 0.1px solid rgb(228, 225, 225);
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}

  .responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .responsive-table .table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .responsive-table .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }
  .responsive-table .col-1 {
    flex-basis: 10%;
  }
  .responsive-table .col-2 {
    flex-basis: 40%;
  }
  .responsive-table .col-3 {
    flex-basis: 25%;
  }
  .responsive-table .col-4 {
    flex-basis: 25%;
  }

  @media (max-width: 767px) {
    .responsive-table .table-header {
      display: none;
    }
    .responsive-table li {
      display: block;
    }
    .responsive-table .col {
      flex-basis: 100%;
    }
    .responsive-table .col {
      display: flex;
      padding: 10px 0;
    }
    .responsive-table .col:before {
      color: #6C7A89;
      padding-right: 10px;
      content: attr(data-label);
      flex-basis: 50%;
      text-align: right;
    }
  }
  